binds {
    Mod+T { spawn "kitty"; }
    Mod+W { spawn "brave"; }
    Mod+E { spawn "sh" "-c" "GTK_CSD=0 thunar"; }
    Mod+S { spawn "spotify"; }

    Mod+Return repeat=false { spawn "quickshell" "ipc" "call" "applauncher" "toggle"; }
    Mod+V { spawn "~/.local/bin/cliphist-rofi.sh"; }
    Mod+Shift+V { spawn "sh" "-c" "cliphist wipe && notify-send 'Clipboard' 'Deleted all clipboard history!'"; }
    Mod+Period { spawn "rofimoji" "--action" "copy" "--max-recent" "0" "--prompt" " 󰍉 " "--selector-args" "-theme ~/.config/rofi/theme.rasi"; }

    Mod+Shift+S { screenshot; }
    Mod+Shift+R { spawn "quickshell" "ipc" "call" "screenrecorder" "toggle"; }

    Mod+Shift+F { fullscreen-window; }
    Mod+F { toggle-window-floating; }
    Mod+Q { close-window; }
    Mod+M repeat=false { spawn "quickshell" "ipc" "call" "controlcenter" "toggle"; }
    Mod+J repeat=false { spawn "quickshell" "ipc" "call" "topbar" "toggle"; }
    Mod+N repeat=false { spawn "quickshell" "ipc" "call" "notificationcenter" "toggle"; }

    Mod+left { focus-column-left; }
    Mod+right { focus-column-right; }

    Mod+Shift+left { move-column-left; }
    Mod+Shift+right { move-column-right; }
    Mod+Shift+up { move-column-to-workspace-up; }
    Mod+Shift+down { move-column-to-workspace-down; }
    Mod+down { focus-workspace-down; }
    Mod+up { focus-workspace-up; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "~/.local/bin/osd-control.sh" "vol" "up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "~/.local/bin/osd-control.sh" "vol" "down"; }
    XF86AudioMute        allow-when-locked=true { spawn "~/.local/bin/osd-control.sh" "vol" "mute"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPause allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn "playerctl" "stop"; }
    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "~/.local/bin/osd-control.sh" "bri" "up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "~/.local/bin/osd-control.sh" "bri" "down"; }

    Mod+Tab repeat=false { toggle-overview; }

    Mod+Shift+E { quit; }
}
