// ~/dot27/dotfiles/niri/config.kdl

include "autostart.kdl"
include "animations.kdl"
include "hardware.kdl"
include "visuals.kdl"
include "rules.kdl"
include "binds.kdl"

debug {
    honor-xdg-activation-with-invalid-serial
}

include optional=true "~/override/niri-local.kdl" // you can override my config by modifying this file
