// ~/dot27/dotfiles/niri/hardware.kdl

output "eDP-1" {
    scale 1.75
}

input {
    warp-mouse-to-focus
    keyboard {
        xkb { layout "us"; }
    }
    touchpad {
        tap
        natural-scroll
    }
}

cursor {
    hide-after-inactive-ms 3000
}
