/* GLOBAL STYLES */
@import url("../../.local/state/my_theme/colors.css");

* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @accent;
    animation: pop-down 0.6s ease-out forwards; 
}

/* MODULES LAYOUT */
.modules-left {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 0 0 16px 0;
    padding: 4px 12px 4px 12px;
    margin: 0 0 5px 0;
}

.modules-center {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 0 0 16px 16px;
    padding: 4px 12px 4px 12px;
    margin: 0 0 5px 0;
}

.modules-right {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 0 0 0 16px;
    padding: 4px 12px 4px 12px;
    margin: 0 0 5px 0;
}

/* COMMON MODULE STYLES */
#custom-lmtot27,
#custom-window,
#custom-player,
#clock,
#network,
#bluetooth,
#battery,
#custom-notification {
    color: @accent;
    margin: 1px;
    padding: 0 8px;
    min-width: 20px;
}
#custom-window.empty {
    font-style: italic;
}

/* CUSTOM TEXT OVERVIEW */
#custom-lmtot27 {
    color: @accent;
}

#custom-window {
    color: @accent;
}

/* STATUS COLORS & BLINK ANIMATION */
#battery.warning { color: #e0af68; }
#battery.critical {
    color: #f7768e;
    animation: blink 1s infinite; 
}
#battery.charging { color: #9ece6a; }

/* HOVER EFFECTS */
#custom-lmtot27:hover,
#custom-player:hover,
#clock:hover,
#custom-notification:hover {
    color: #000000;
    background-color: @accent;
}

/* CAVA */
#custom-cava {
    letter-spacing: -2px; 
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* TOOLTIPS */
tooltip {
    background: rgba(0, 0, 0, 1);
    border-radius: 12px;
    padding: 10px;
}

tooltip label {
    color: @accent;
}

/* ANIMATIONS */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes pop-down {
    0% { 
        opacity: 0;
        margin-top: -40px; 
    }
    50% {
        opacity: 0.2;
        margin-top: 6px; 
    }
    75% {
        opacity: 0.5;
        margin-top: -3px;
    }
    100% { 
        opacity: 1;
        margin-top: 0; 
    }
}
